@page "/"
@namespace SNYC.Transport.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using SNYC_Transport
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SNYC Transport</title>
    <base href="~/" />
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="app.css" rel="stylesheet" />
    <link href="test.styles.css" rel="stylesheet" />
    <link href="https://unpkg.com/leaflet/dist/leaflet.css" rel="stylesheet" />
    <link href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>
    <script src="_framework/blazor.server.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script src="map.js"></script>
</body>
</html>
