@page "/"
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1>SNYC Transport</h1>

<p>Need transport support? Submit a request in a few steps.</p>

<a class="btn btn-primary" href="/request">Request Transport</a>
